server:
  servlet:
    context-path: /api/v1

jwt.secretKey=wN8jFvQ9sZ2t7m4YsP3t6H9UvKeBmQ1JcXoFZzvLQaI=

spring:
  application:
    name: learningCachingSpringBoot

  datasource:
    url: jdbc:postgresql://localhost:5432/hospitalDBSecurity
    username: postgres
    password: qwerty123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: never
      data-locations: classpath:data.sql

  security:
    oauth2.client:
    user:
        name: your_name
        password: your_password

    provider:
      twitter:
        authorization-uri: https://twitter.com/i/oauth2/authorize
        token-uri: https://api.twitter.com/2/oauth2/token
        user-info-uri: https://api.twitter.com/2/users/me
        user-name-attribute: id
      instagram:
        authorization-uri: https://api.instagram.com/oauth/authorize
        token-uri: https://api.instagram.com/oauth/access_token
        user-info-uri: https://graph.instagram.com/me?fields=id,username,account_type
        user-name-attribute: id

    registration:
      google:
        client-id: xxxxxxxx-xxxxxxxx-xxxxxxxxx
        client-secret: xxxxxxxx-xxxxxxxx-xxxxxxxxx
      github:
        client-id: xxxxxxxx-xxxxxxxx-xxxxxxxxx
        client-secret: xxxxxxxx-xxxxxxxx-xxxxxxxxx
      instagram:
        client-id: YOUR_INSTAGRAM_CLIENT_ID
        client-secret: YOUR_INSTAGRAM_CLIENT_SECRET
        authorization-grant-type: authorization_code
        redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        scope:
          - user_profile
          - user_media
        client-name: Instagram
      twitter:
        client-id: YOUR_INSTAGRAM_CLIENT_ID
        client-secret: YOUR_INSTAGRAM_CLIENT_SECRET
        authorization-grant-type: authorization_code
        redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        client-name: Twitter
        scope:
          - tweet.read
          - users.read
          - offline.access